<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute -->
<!--suppress HtmlUnknownTag -->
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Messenger</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
<div class="container clearfix" id="app">
    <div class="people-list" id="people-list">
        <ul class="list">
            <msg-user v-for="(user, id) in users"
                      v-bind:username="user"
                      v-bind:path="imagePath(user)"
                      v-bind:key="id"
                      v-on:select-user="selected = $event">
            </msg-user>
        </ul>
    </div>
    <div class="chat-stub" v-if="!selected">
        <h1>Please select a chat to&nbsp;start messaging</h1>
    </div>

    <div class="chat" v-for="user in selectedUsers">
        <div class="chat-header clearfix">
            <img :src="imagePath(user)" alt="avatar" />
            <div class="chat-about">
                <div class="chat-with">Chat with {{user}}</div>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul>
                <li v-for="msg in messages[user]"
                    :class="[isMe(msg.source) ? 'clearfix' : '']">
                    <!-- обойдемся здесь без компонентов -->
                    <template v-if="isMe(msg.source)">
                        <div class="message-data align-right">
                            <span class="message-data-time" >{{msg.time}}</span> &nbsp; &nbsp;
                            <span class="message-data-name" >{{msg.source}}</span> <i class="fa fa-circle me"></i>
                        </div>
                        <div class="message other-message float-right">
                            {{msg.body}}
                        </div>
                    </template>
                    <template v-else>
                        <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i>{{msg.source}}</span>
                            <span class="message-data-time">{{msg.time}}</span>
                        </div>
                        <div class="message my-message">
                            {{msg.body}}
                        </div>
                    </template>
                </li>
            </ul>
        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea placeholder ="Type your message" rows="3" v-model="messageBuf" autofocus></textarea>
            <button @click="sendTo(user)">Send</button>
        </div> <!-- end chat-message -->
    </div> <!-- end chat -->
</div> <!-- end container -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="messenger.js"></script>
</body>
</html>